/*
    App Wide Fonts and various weights
*/

@font-face {
    font-family: "Yrsa";
    src: url("../assets/fonts/Yrsa-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Yrsa Bold";
    src: url("../assets/fonts/Yrsa-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../assets/fonts/Montserrat-Light.otf") format('opentype');
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/fonts/Montserrat-SemiBold.otf") format('opentype');
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../assets/fonts/Montserrat-Bold.ttf") format('truetype');
}

.primary-font {
  font-family: "Yrsa";
  &.bold-weight {
    font-family: "Yrsa Bold";
  }
  &.light-weight {
    // No light defined for Yrsa
  }
  &.semi-bold {
    // No semi bold fo Yrsa
  }
}

.secondary-font {
  font-family: "Montserrat Regular";

  &.bold-weight {
    font-family: "Montserrat Bold";
  }
  &.light-weight {
    font-family: "Montserrat Light";
  }
  &.semi-bold {
    font-family: "Montserrat SemiBold";
  }
}

.bold {font-weight:bold;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.uppercase {text-transform:uppercase;}
.no-margin {margin:0;}
.text-ellipsis {
	text-overflow: ellipsis;
}
.no-underline {text-decoration: none;}
