<!--
  Generated template for the PostDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  [hidden]="!didNotLoad">

  <ion-navbar>
    <ion-title>Single Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- Error Message Dialog Component -->
  <error-dialog [showError]="didNotLoad" (DialogButtonTap)="loadPost(false)"></error-dialog>

  <div *ngIf="!didNotLoad">
    <div class="single-post">
      <!-- If there's a featured image, Show it -->
      <img *ngIf="singlePostData.better_featured_image?.media_details?.sizes?.medium?.source_url" mg-img-preloader="{{singlePostData.better_featured_image?.media_details.sizes.medium.source_url}}" class="feed-image">

      <!-- If there is no featured image, show a default image instead. -->
      <img *ngIf="!singlePostData.better_featured_image?.media_details?.sizes?.medium?.source_url" src="assets/blank-default-feed-bg.png" class="feed-image">

      <!-- <div class="app-feed-title">
        <h1 class="primary-font bold-weight post-title">{{singlePostData.title?.rendered}}</h1>
      </div> -->
      <div class="close-post-button" navPop>
      <ion-icon name="close"></ion-icon>
      </div>
      <div  class="app-feed-date animated fadeIn">
        <h1 class="primary-font bold-weight">{{singlePostData.date | date:'dd'}}</h1>
        <h6 class="primary-font light-weight">{{singlePostData.date | date:'MMM'}}</h6>
      </div>
      <div class="share-post-button" (click)="shareOptionsAndShare(singlePostData.title?.rendered , '' , singlePostData.guid?.rendered)"><ion-icon name="share-alt"></ion-icon></div>
    </div>
    <div class="alternate">
      <h1 class="primary-font bold-weight post-title" [innerHTML]="singlePostData.title?.rendered"></h1>
      <div class="extra-details">
        <ion-row>
          <ion-col class="flush">
            <h6 class="post-author"><ion-icon name="person"></ion-icon> {{singlePostData._embedded?.author[0].name}}</h6>
          </ion-col>
          <ion-col class="text-right flush">
              <button
                ion-button
                small
                outline
                *ngIf="isAuthenticated"
                (click)="saveBookmark(singlePostData.id, singlePostData.title?.rendered, singlePostData.guid?.rendered, singlePostData.better_featured_image?.media_details.sizes.medium.source_url)">
                <ion-icon name="bookmark"></ion-icon> Bookmark
              </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="post-content">
      <div class="post-rendered-content" [innerHTML]="singlePostData.content?.rendered"></div>
    </div>
  </div>
</ion-content>
