page-post-detail {
  button{
    padding-left: 10px !important;
    padding-right: 10px !important;
    .button-inner {
      font-size: 30px;
    }
  }
  ion-navbar {
    border-bottom: 1px solid #ccc;
  }
  .single-post {
    position: relative;
    &:nth-child(odd) {
      background-color: #BDC3C7;
    }
    &:nth-child(even) {
      background-color: #ECF0F1;
    }
    .feed-image {
      width: 100%;
      height: auto; //100vw;
      display: block;
      background: #333;
      background-size: cover;
    }
    &::before {
      position: absolute;
      width: 100%;
      height: 100%; min-height: 100%;
      background: transparentize(#434343, 0.5);
      content: ''
    }
    .close-post-button {
      position: absolute;
      top: 20px;
      left: 6%;
      ion-icon {
        font-size: 4rem;
        color: white;
        font-weight: bold;
      }
    }
    .app-feed-category {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: absolute;
      top: 70%;
      width: calc(100%);
      left: -43%;
      color: white;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 6px;
      &:before {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    .app-feed-title {
      position: absolute;
      bottom: 10px;
      padding: 10px 50px 10px 50px;
      color: white;
      h6 {
        font-size: 13px;
      }
      .post-title {
        font-size: 3.0rem;
        line-height: 1.0;
        @include breakpoint($iphone6) {
    			font-size: 4.0rem;
    		}
      }
    }
    .app-feed-date {
      position: absolute;
      right: 20px;
      color: white;
      top: 20px;
      h1 {
        text-align: center;
        margin:0;
        font-size: 3.5rem;
      }
      h6 {
        text-align: center;
        margin-top: -10px;
      }
    }
    .share-post-button {
      position: absolute;
      bottom: 16px;
      color: white;
      right: 24px;
      font-size: 3rem;
    }
  }

  .post-content {
    .post-rendered-content {
      img {
        height: auto;
        padding: 10px;
        background: #ecf0f1;
      }

      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        background: #efefef;
        padding: 10px;
        border:1px solid #ccc;
      }
    }
    padding: 26px 19px 0 19px;
    @extend .secondary-font.light-weight; // app/theme/app.fonts.scss
    line-height: 2.6rem;
    font-size: 1.6rem;
    p {
      line-height: 2.6rem;
      font-size: 1.6rem;
    }
    .post-author {
      @extend .padding-vertical;
      color: transparentize(black, 0.3);
      text-transform: capitalize;
    }
    .post-social-stats {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      ion-icon {
        padding-right: 3px;
        font-size: 2.1rem;
        color: #747474;
      }
      span.post-stat {
        font-size: 2.0rem;
        @extend .secondary-font.semi-bold;
        color: #747474;
      }
    }
  }

  .alternate {
    @extend .post-title;
    padding: 30px 20px;
    background: darken(color($colors, primary), 45%);
    color: white;
    h1 {
      margin: 0;
    }
    .extra-details {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      padding: 9px 0 0 0;
      margin: 9px 0 0 0;
    }
    h6 {
      letter-spacing: 4px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4);
      margin: 7px 0 0 0;
      text-indent: -2px;
    }
    button {
      border: 1px solid rgba(255, 255, 255, 0.5);;
      color: rgba(255, 255, 255, 0.7);;
      ion-icon {
        padding-right: 10px;
      }
    }
  }
  .alternate-small {

  }
}
